@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.1px;
}
a {
  text-decoration: none;
}
.is_blind {position:relative; display: block; font-size:1px; color:rgba(0, 0, 0, 0); overflow:hidden; white-space: nowrap; height:1px; width:1px; text-indent:1980px;}