<style>
  footer {
    background-color: black;
    color: #fcfcfc;
  }
  .footerInner {
    padding: 40px 30px;
  }
  .footerInner:after {
    content: "";
    display: block;
    clear: both;
  }
  .footer_copywriter {
    display: block;
    float: left;
    font-size: 12px;
    line-height: 26px;
    padding-right: 20px;
  }
  .footer_linkList {
    display: block;
    float: right;
  }
  .footer_link {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    line-height: 26px;
    background: no-repeat center;
    background-size: contain;
  }
  .footer_link:hover {
    opacity: 0.9;
  }
  .footer_link + .footer_link {
    margin-left: 10px;
  }
</style>

<div class="footerInner">
  <span class="footer_copywriter">© 2019 HNINE Co., Ltd. all rights reserved.</span>
  <div class="footer_linkList">
    <button class="footer_link is_blind" style="background-image: url(./img/footer_link_insta.png);">페이스북</button>
  </div>
</div>